@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*, ::after, ::before{
    padding: 0;
    margin: 0;
    background: #ebebeb;  
    box-sizing:border-box;  
}

    body{
      font-family: 'Lato', sans-serif;
  }

  li {
    list-style: none;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-size: large;
  }
  
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  
  .button {
    padding: 0 20px;
    font-size: 1em;
    border: 1px black solid;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .grid {
    display: flex;
  }
  
  header {
    position: fixed;
    top: 0;
    min-height: 80px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebebeb;
    width: 100%;
  }

  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
  }
  

  
  #header-img {
    max-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
  }

  .img-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px ;
    font-size: 2rem;
    margin-left: 20px;
}
  
  
  #ul-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    margin-right: 50px;
  }

  @media (max-width: 800px) {
    #ul-links {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: flex-end;
      padding: 0 60px;
    }
  }


  @media (max-width: 700px) {
    #ul-links {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: flex-end;
      padding: 0 50px;
      gap: 10px;
    }
  }

  .h2{
    margin-bottom: 20px;
  }
  
  #section-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
  }
  

  
  #email{
    max-width: 280px;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  #submit{
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 25px 0;
    border: 1px solid black;
    background-color: rgb(174, 112, 255);
  }
  
  
  #features {
    margin-top: 50px;
  }
  
  #features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;
    width: 200px;
    color: rgb(174, 112, 255);
  }

  @media (max-width: 600px) {
    #features .icon {
      display: none;
    }
  }  

  @media (max-width: 600px) {
    #features {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center
;
    }
  }  
  

  iframe{
    display: block;
    margin: auto;
  }

  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: 23rem;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 20px
  }
  
  .level {
      background-color: #bbbbbb;
      color: black;
      padding: 15px 0;
      width: 100%;
      font-weight: 700;
  }
  
  h2 {
    margin-top: 15px;
  }
  
  ul {
    margin: 15px 0;
  }
  
  
  button {
    margin: 15px 0;
    background-color: rgb(174, 112, 255);
  }

  .h2{
    text-align: center;
  }
  
  footer {
    margin-top: 30px;
    background-color: #bbbbbb;
    padding: 20px;
    width: 100%;
    margin: auto;
  }
  
  .ul-lists {
    display: flex;
    justify-content: flex-end;
    background-color: #bbbbbb;
  }
  
  .link-footer {
    padding: 0 10px;
    background-color: #bbbbbb;
    margin: 0;
  }
  
  .span-footer{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #3d3d3d;
    background-color: #bbbbbb;
  }
  
  
  #features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 70vw;
    padding: 5px;
  }

  @media (max-width: 800px) {
    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
  #pricing {
      flex-direction: column;
  }
}


